Flask==3.0.3
pyshark==0.6
tensorflow==2.18.0
scapy==2.6.1
tensorflow-model-optimization==0.8.0
tensorflow-distribute==2.5.0
pandas==2.2.3
numpy==2.1.3
dpkt==1.9.7.2
sklearn==0.0.post12
fortiosapi==1.0.5
requests==2.32.3
bayesian-optimization==2.0.3