body {
  background-color: #000;
  color: #00FF00;
  font-family: monospace;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

#terminal {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #00FF00;
  padding: 5px;
  background-color: #000;
  color: #00FF00;
  font-family: monospace;
  margin-top: 20px;
}
